@model InternetProdavnica.Models.Reklamacija

@{
    ViewData["Title"] = "ApproveComplaint";
}

<h1 class="d-flex justify-content-center" style="margin-top:30%;"> Uspesno ste odobrili reklamaciju!</h1>
<i class="bi bi-hand-thumbs-up d-flex justify-content-center" style="font-size:3em; margin-bottom:2%;"></i>
<a class="d-flex justify-content-center" style="margin-bottom:30%;" asp-action="AllComplaints" asp-controller="Complaint">Nazad</a>
