@model InternetProdavnica.Models.Reklamacija

@{
    ViewData["Title"] = "DisapproveComplaint";
}

<h1 class="d-flex justify-content-center" style="margin-top:30%;"> Uspesno ste odbili reklamaciju!</h1>
<i class="bi bi-hand-thumbs-down d-flex justify-content-center" style="font-size:3em; margin-bottom:2%;"></i>
<a class="d-flex justify-content-center" style="margin-bottom:30%;" asp-action="AllComplaints" asp-controller="Complaint">Nazad</a>
