@model IEnumerable<InternetProdavnica.Models.Proizvod>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="pocetnaText">
        <div class="row">
          <div class="col-8">
              <h1 style="margin-top:6%;"><b>Da li ste spremni<br /> &nbsp&nbspza još brže iskustvo uz novi</b></h1>
                <div class="wrapper">
                    <h2>Razer Deathadder</h2>
                </div>
                <button class="dugmeZaRazerPocetna">Detalji 👀</button>
          </div>
          <div class="col-4">
            <div id="slider">
                <img class="pocetnaSlika" src="staticImages/static_RazerDeathAdder.png" alt="razor deathadder"/>
            </div>
          </div>
        </div>
        
        
    </div>

    <div>
        <div class="row g-3 threeCardsHomePosition borderShadowHome">
            <h2 class="d-flex justify-content-center izdvajamoIzPonude">&#128071;  IZDVAJAMO IZ PONUDE  &#128076;</h2>
            <div class="col-12 col-md-6 col-lg-4 cardHome">
                <div class="backgroundRainbow">
                    <div class="card">
                        <img src="/staticImages/static_Comando-White-ARGB-mATX.jpg" alt="gaming pc" class="pcBuilderSlika card-img-top"/>
                        <div class="backgroundRainbowPCbuilder card-img-top">
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <h5 class="d-flex justify-content-center card-title"><b>CyberpowerPC Gamer Master</b></h5>
                            <p class="card-text">
                                🪛 Ryzen 5 5000 Series 5600G (3.90GHz) <br />
                                🪛 8GB DDR4 <br />
                                🪛 500 GB M.2 NVMe SSD <br />
                                🪛 Windows 11 Home 64-bit <br />
                                🪛 NVIDIA GeForce RTX 2060 6 GB GDDR6 <br />
                                🪛 Virtual Reality Ready <br />
                                🪛 Garancija: 2 godine <br />
                            </p>
                            <form class="d-flex justify-content-center">
                                <input style="width:100%;" type="submit" value="Detalji" asp-action="" class="siteButtonStyle">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 cardHome">
                <div class="backgroundRainbow">
                    <div class="card">
                        <img class="pcBuilderSlika card-img-top" src="/staticImages/a7df56a721073121012794668ef9e768.gif" />
                        <div class="backgroundRainbowPCbuilder card-img-top">
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <h5 class="d-flex justify-content-center card-title"><b>NZXT H510 Elite</b></h5>
                            <p class="card-text">
                                🪛 Ryzen 7 4700H Series 5600G (3.90GHz) <br />
                                🪛 16GB DDR4 <br />
                                🪛 1TB M.2 NVMe SSD <br />
                                🪛 Windows 11 Pro 64-bit <br />
                                🪛 NVIDIA GeForce RTX 3090 6 GB GDDR6 <br />
                                🪛 Virtual Reality Ready <br />
                                🪛 Garancija: 3 godine <br />
                            </p>
                            <form class="d-flex justify-content-center">
                                <input style="width:100%;" type="submit" value="Detalji" asp-action="" class="siteButtonStyle">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 cardHome">
                <div class="backgroundRainbow">
                    <div class="card">
                        <img src="/staticImages/_staticPC2.jpeg" alt="gaming graphics card" class="pcBuilderSlika card-img-top"/>
                        <div class="backgroundRainbowPCbuilder card-img-top">
                            &nbsp;
                        </div>
                        <div class="card-body">
                            <h5 class="d-flex justify-content-center card-title"><b>MSI Raider GE66 12UHS-236</b></h5>
                            <p class="card-text">
                                🪛 Intel i7 11700FX Series (4.10GHz) <br />
                                🪛 32GB DDR4 <br />
                                🪛 8 TB M.2 NVMe SSD <br />
                                🪛 Windows 11 Pro 64-bit <br />
                                🪛 NVIDIA GeForce RTX 3090 12 GB GDDR6 <br />
                                🪛 Virtual Reality Ready <br />
                                🪛 Garancija: 5 godine <br />
                            </p>
                            <form class="d-flex justify-content-center">
                                <input style="width:100%;" type="submit" value="Detalji" asp-action="" class="siteButtonStyle">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



